<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hệ thống thi trắc nghiệm</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Stylesheet/style.css">
    <link rel="stylesheet" href="/Stylesheet/font.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<style>
    .swal2-actions {
        gap: 15px;
    }
</style>

<body style="background-color:#b54944;">

    <section>
        <div class="container">
            <div class="row justify-content-center align-items-center mt-5">
                <div class="col-8 p-4" style="border: 2px solid #e7e7e7; border-radius: 15px; background-color: #fff;">
                    <div class="f-s-24 f-f-BeVietNam-SemiBold  text-center">
                        Trả lời các câu hỏi sau
                    </div>
                    <div id="countdown" class="d-flex justify-content-end f-s-24 f-f-BeVietNam-Bold"></div>

                    <div class="mt-4 quiz">
                    </div>
                    <div class="d-flex">
                        <button class="mx-auto text-white py-2 px-4 mt-3 f-s-18 justify-content-center"
                            onclick="submit()"
                            style="border: none; outline: none; border-radius: 9px; background-color: #5381F8;">Nộp bài
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/Javascripts/nav.js"></script>
    <script src="/Javascripts/get-data.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script>

        // type  0: Đúng sai
        // type  1: Chọn 1
        // type  2: Chọn nhiều
        // type  3: Tự luận
        const urlParams = new URLSearchParams(window.location.search);
        const idUser = urlParams.get('idUser');
        const idExam = urlParams.get('idExam');
        function getUserById(id) {
            return users.find(function (user) {
                return parseInt(user.id) === parseInt(id);
            });
        }
        function getExamById(id) {
            return exam_list.find(function (exam) {
                return parseInt(exam.id) === parseInt(id);
            });
        }
        console.log(getExamById(idExam));
        console.log(getUserById(idUser));
        function getDataQuestion(data) {
            var html = ''
            data.forEach((element, index) => {
                html += `
               <div class="f-s-18  f-f-BeVietNam-Regular question mt-3"> <span class="f-f-BeVietNam-SemiBold "> Câu ${index + 1}:</span> ${element.question}
                
               `
                if (element.type == 2) {
                    element.options.forEach((el, id) => {
                        html += `
                <label class="answer d-flex f-s-18 gap-2 mt-3" style="cursor: pointer;">
                            <input type="radio" style="width: 20px;" name = ${index} data_answer = "${id}">
                           ${el}
                </label>
                `
                    })
                }
                else if (element.type == 3) {
                    html += `
                    <label class="answer d-flex f-s-18 gap-2 mt-3" style="cursor: pointer;">
                               <textarea class="p-3" cols="95" rows="2" name = ${index}></textarea>
                    </label>
                    `

                }
                else {
                    element.options.forEach((el, id) => {
                        html += `
                    <label class="answer d-flex f-s-18 gap-2 mt-3" style="cursor: pointer;">
                                <input type="radio" style="width: 20px;" name =${index} data_answer = "${id}" required>
                               ${el}
                    </label>
                    `
                    })
                }
                html += `
            </div>
                `
            })
            $('.quiz').html(html)
        }
        getDataQuestion(getExamById(idExam).questions)
        function getCorrectAnswer(dataQuestion, index) {
            return dataQuestion[index].answer
        }
        function getSelectedAnswers() {
            var answers = [];
            $('input[type="radio"]').each(function () {
                if ($(this).is(':checked')) {
                    var answerIndex = $(this).attr('data_answer');
                    var questionIndex = $(this).attr('name');
                    answers.push({
                        questionIndex: questionIndex,
                        answerIndex: answerIndex,
                        answerCorrect: getCorrectAnswer(getExamById(idExam).questions, questionIndex)
                    });
                }
            });
            return answers;
        }


        function submit() {

            // console.log(dataAnswers);
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: "btn btn-success",
                    cancelButton: "btn btn-danger",
                },
                buttonsStyling: false,
            });
            swalWithBootstrapButtons
                .fire({
                    title: "Bạn có muốn nộp không?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Đồng ý!",
                    cancelButtonText: "Hủy",
                    reverseButtons: true,
                })
                .then((result) => {
                    if (result.isConfirmed) {
                        var student = {
                            id: idUser,
                            status: -1,
                            dataAnswers: getSelectedAnswers(),
                        }

                        getExamById(idExam).students.push(student);
                        getUserById(idUser).participations.quantity++
                        // console.log(dataAnswers);
                        // localStorage.setItem('answers', JSON.stringify(dataAnswers));
                        localStorage.setItem('exam_list', JSON.stringify(exam_list));
                        localStorage.setItem('users', JSON.stringify(users));
                        window.location.href = `result-exam.html?idUser=${idUser}&idExam=${idExam}`
                        // console.log(getExamById(idExam).students);
                    }
                });
        }

        // Xử lí thời gian đếm ngược
        var countdownElement = document.getElementById('countdown');

        var timeRemaining = parseInt(getExamById(idExam).time_exam) * 60; // 10 giây

        function updateCountdown() {
            var hours = Math.floor(timeRemaining / 3600);
            var minutes = Math.floor((timeRemaining % 3600) / 60);
            var seconds = timeRemaining % 60;

            // Định dạng chuỗi 'hh:mm:ss' nếu số phút lớn hơn 100
            var formattedTime;
            if (hours > 0) {
                formattedTime = ('0' + hours).slice(-2) + ':' + ('0' + minutes).slice(-2) + ':' + ('0' + seconds).slice(-2);
            } else {
                formattedTime = ('0' + minutes).slice(-2) + ':' + ('0' + seconds).slice(-2);
            }

            countdownElement.innerText = formattedTime;

            if (timeRemaining > 0) {
                timeRemaining--;
            } else {
                clearInterval(countdownInterval);
                submit();
                Swal.fire({
                    position: "center",
                    icon: "error",
                    title: "Đã hết giờ",
                    text: "Hệ thống sẽ tự nộp bài",
                    showConfirmButton: true,
                }).then((result) => {
                    Swal.fire({
                        position: "center",
                        icon: "success",
                        title: "Nộp bài thành công",
                        showConfirmButton: true,
                    });
                });
            }
        }


        // Cập nhật giá trị ban đầu
        updateCountdown();

        // Thiết lập đếm ngược
        var countdownInterval = setInterval(updateCountdown, 1000);
    </script>
</body>

</html>