<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hệ thống thi trắc nghiệm</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Stylesheet/style.css">
    <link rel="stylesheet" href="/Stylesheet/font.css">
    <link rel="stylesheet" href="/Stylesheet/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.dataTables.css" />

</head>
<style>
    .swal2-actions {
        gap: 15px;
    }
</style>

<body style="background-color: #f6f8fa;">
    <nav class="navbar navbar-expand-lg py-1" style="background-color: #bb2019;">
        <div class="container">
            <a class="navbar-brand f-f-BeVietNam-SemiBold f-s-20 text-white me-0" onclick="direcIndex()">
                <img class=" p-1 px-2" src="/Image/Home/ptit-logo.png" alt=""
                    style="width: 40%; background-color: #fff; border-radius: 50%; cursor: pointer;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 f-f-BeVietNam-Medium">
                    <li class="nav-item">
                        <a class="nav-link active text-white" style="cursor: pointer;" onclick="direcIndex()">Trang
                            chủ</a>
                    </li>


                </ul>
                <!-- <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form> -->
                <div class="d-flex gap-2">
                    <button class="btn px-3 py-2 bg-white f-s-16 f-f-BeVietNam-Medium" onclick="login()">
                        Đăng xuất
                    </button>
                    <!-- <button class="btn px-3 py-2 bg-white f-s-16 f-f-BeVietNam-Medium" onclick="register()">
                        Đăng ký
                    </button> -->
                </div>
            </div>
        </div>
    </nav>
    <section>
        <div class="container mt-4 py-4" style="background-color: #fff; border: 2px solid #e1e4e8;">
            <div class="row justify-content-center px-4">
                <div class="col-12 f-s-24 f-f-BeVietNam-Bold">
                    Danh sách các kì thi
                </div>
            </div>
            <div class="row px-4">
                <div class="col-12">
                    <table id="table_exam" class="table table-striped f-f-BeVietNam-Regular" style="width:100%">
                        <thead>
                            <tr>
                                <th style="width: 10%;">Tên kì thi</th>
                                <th style="width: 15%;">Môn học</th>
                                <th>Thể loại</th>
                                <th class="pe-2">Lớp</th>
                                <th class="pe-2">Thời gian làm bài</th>
                                <th class="pe-2 ps-0">Thời gian bắt đầu</th>
                                <th>Trạng thái</th>
                                <th>Làm bài</th>
                            </tr>
                        </thead>
                        <tbody id="dataExam">


                        </tbody>

                    </table>
                </div>
            </div>

        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/Javascripts/nav.js"></script>
    <script src="/Javascripts/get-data.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>
</body>
<script>
    console.log(users);
    console.log(exam_list);
    const idUser = window.location.href.split("?idUser=")[1];
    function getUserById(id) {
        return users.find(function (user) {
            return parseInt(user.id) === parseInt(id);
        });
    }
    function getExamById(id) {
        return exam_list.find(function (exam) {
            return parseInt(exam.id) === parseInt(id);
        });
    }
    function register() {
        window.location.href = 'register.html';
    }
    function getStatusStudentOfExam(idExam, idUser) {
        if (getExamById(idExam).status == 1) {
            return 1
        }
        // console.log(getExamById(idExam).students.find(student => student.id === idUser) );
        else if (getExamById(idExam).students.find(student => student.id === idUser) == undefined) {
            return 0
        }
        // console.log(getExamById(idExam).students.find(student => student.id === idUser).status);
        return getExamById(idExam).students.find(student => student.id === idUser).status

    }
    function getStatusExam(status) {
        if (status == 1) return "Chưa diễn ra"
        else if (status == 0) return "Đang diễn ra"
        else return "Đã kết thúc"
    }
    function getContentButton(status) {
        if (status == 0) return "Bắt đầu"
        else if (status == 1) return "Bắt đầu"
        else return "Kết quả"
    }
    function getColorButton(status) {
        if (status == 1) return "success"
        else if (status == 0) return "danger"
        else return "warning"
    }
    function getDataExam(data) {
        var html = ''
        data.status = getStatus(data.time_start)
        data.forEach((element, index) => {
            html += `
            <tr class="align-middle">
                                <td>${element.name_exam}</td>
                                <td>${element.subject}</td>
                                <td>${element.type}</td>
                                <td>${element.class_exam}</td>
                                <td><span class="f-f-BeVietNam-Bold">${element.time_exam} phút</span></td>
                                <td>
                                    <span class="f-f-BeVietNam-Bold">${element.time_start}</span>
                                  
                                </td>
                                <td>${getStatusExam(getStatusStudentOfExam(element.id, idUser))}</td>
                                <td>
                                    <button class="btn btn-${getColorButton(getStatusStudentOfExam(element.id, idUser))} px-2 py-1 text-white" onclick="startExam(${getStatusStudentOfExam(element.id, idUser)},${element.id})">${getContentButton(getStatusStudentOfExam(element.id, idUser))}</button>
                                </td>
                            </tr>
            `
        })
        $('#dataExam').html(html)
    }
    getDataExam(exam_list)
    function startExam(status, id_exam) {
        if (status == 1) {
            Swal.fire({
                icon: "error",
                title: "Bài kiểm tra chưa mở",
                text: "Vui lòng đợi đến thời gian làm bài",

            });
        }
        else if (status == 0) {
            const student = getExamById(id_exam).students.find(student => student.id === idUser)
            console.log(getExamById(id_exam).students);
            window.location.href = `exam.html?idUser=${idUser}&idExam=${id_exam}`
        }
        else {
            window.location.href = `result-exam.html?idUser=${idUser}&idExam=${id_exam}`
        }
    }
    function direcIndex() {
        window.location.href = `index.html?idUser=${idUser}`
    }
    new DataTable('#table_exam');
</script>

</html>